@import '../../styles/utilities.module.scss';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    .profile {
        font-size: 12px;
        line-height: 18px;

        &:hover {

            .name::before,
            .title::before {
                top: 0px;
                left: 0px;
            }
        }

        &.loading {
            visibility: hidden;
        }

        &.link-background {

            .name {
                &::before {
                    background-color: #c586c020;
                }
            }

            .title {
                &::before {
                    background-color: #4ec9b020;
                }
            }
        }

        .name,
        .title {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: 3px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition:
                    background-color 450ms ease-in-out,
                    top 250ms ease-in-out,
                    left 250ms ease-in-out;
            }
        }

        .name {
            position: relative;
            color: #c586c0;
            border-bottom: solid 1px #c586c0;
        }

        .title {
            color: #4ec9b0;
            white-space: nowrap;
            border-bottom: solid 1px #4ec9b0;
        }
    }

    .loading-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // NOTE: In mobile Safari, 100vh is too tall (clips behind bottom tool bar)
        height: 100%;
        width: 100vw;
        padding: 0in .5in;

        .blink {
            color: transparent;
            animation: blink 1000ms step-end infinite;
        }

        @keyframes blink {

            from,
            to {
                color: transparent;
            }

            50% {
                color: inherit;
            }
        }

        .hidden {
            visibility: hidden;
        }

        .ctr {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .line-wrapper {
            line-height: normal;
        }

        .name,
        .title {
            line-height: unset;
            transition: font-size 300ms ease-in-out;
        }

        .name {
            font-size: 120px;
        }

        .title {
            font-size: 120px;
            color: #808080;
        }

        // VIEWPORT: Widths

        // Narrow desktop + tablet
        @media screen and (max-width: 719px) {
            .name {
                font-size: 100px;
            }

            .title {
                font-size: 100px;
            }
        }

        // Extra narrow desktop + tablet
        @media screen and (max-width: 600px) {
            .name {
                font-size: 90px;
            }

            .title {
                font-size: 90px;
            }
        }

        // Extra extra narrow desktop + tablet
        @media screen and (max-width: 585px) {
            .name {
                font-size: 80px;
            }

            .title {
                font-size: 80px;
            }
        }

        // Extra extra narrow desktop + tablet
        @media screen and (max-width: 550px) {
            .name {
                font-size: 70px;
            }

            .title {
                font-size: 70px;
            }
        }

        // Extra extra narrow desktop + tablet
        @media screen and (max-width: 510px) {
            .name {
                font-size: 62px;
            }

            .title {
                font-size: 62px;
            }
        }

        // iphone 14 Pro Max
        @media screen and (max-width: 430px) {
            .name {
                font-size: 60px;
            }

            .title {
                font-size: 60px;
            }
        }

        // iPhone 14 Pro
        @media screen and (max-width: 414px) {
            .name {
                font-size: 58px;
            }

            .title {
                font-size: 58px;
            }
        }

        // iPhone 12
        @media screen and (max-width: 410px) {
            .name {
                font-size: 54px;
            }

            .title {
                font-size: 54px;
            }
        }

        // iPhone 12
        @media screen and (max-width: 389px) {
            .name {
                font-size: 50px;
            }

            .title {
                font-size: 50px;
            }
        }

        // Smaller phones
        @media screen and (max-width: 369px) {
            .name {
                font-size: 45px;
            }

            .title {
                font-size: 45px;
            }
        }

        // Smallest phones
        @media screen and (max-width: 340px) {
            .name {
                font-size: 40px;
            }

            .title {
                font-size: 40px;
            }
        }

        // Smallester phones
        @media screen and (max-width: 313px) {
            .name {
                font-size: 35px;
            }

            .title {
                font-size: 35px;
            }
        }

        // Smallesterest phones
        @media screen and (max-width: 286px) {
            .name {
                font-size: 30px;
            }

            .title {
                font-size: 30px;
            }
        }

        // Smallesterester phones
        @media screen and (max-width: 260px) {
            .name {
                font-size: 25px;
            }

            .title {
                font-size: 25px;
            }
        }

        // 980
        @media screen and (max-width: 980px) {
            @media screen and (max-height: 705px) {
                .name {
                    font-size: 90px;
                }

                .title {
                    font-size: 90px;
                }
            }

            @media screen and (max-height: 525px) {
                .name {
                    font-size: 70px;
                }

                .title {
                    font-size: 70px;
                }
            }
        }

        // 720
        @media screen and (max-width: 500px) {
            @media screen and (max-height: 705px) {
                .name {
                    font-size: 54px;
                }

                .title {
                    font-size: 54px;
                }
            }
        }
    }
}