@import '../../styles/utilities.module.scss';
@import '../../styles/dark.theme.module.scss';

$font-size: var(--font-size);
$line-height: var(--line-height);
$color: var(--color);

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
        width: fit-content;
    }

    .profile {
        font-size: $font-size;
        line-height: $line-height;

        &:hover {

            .name::before,
            .title::before {
                top: 0px;
                left: 0px;
            }
        }

        &.loading {
            visibility: hidden;
        }

        &.link-background {

            .name {
                border-bottom-color: $dark-pink;

                &::before {
                    background-color: $dark-pink-20;
                }
            }

            .title {
                border-bottom-color: $lime;

                &::before {
                    background-color: $lime-20;
                }
            }
        }

        .name,
        .title {
            position: relative;
            border-bottom: solid 1px;
            transition: border-bottom-color 450ms ease-in-out;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: 3px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition:
                    background-color 450ms ease-in-out,
                    top 250ms ease-in-out,
                    left 250ms ease-in-out;
            }
        }

        .name {
            color: $dark-pink;
            border-bottom-color: transparent;
        }

        .title {
            color: $lime;
            white-space: nowrap;
            border-bottom-color: transparent;
        }
    }
}

.loading-overlay {
    user-select: none;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100%;
    width: 100vw;
    padding: 0in .5in;
    transition: background-color 490ms ease-in-out;
    z-index: 10;

    &.background-color {
        background-color: var(--background-color);
    }

    @keyframes blink {

        from,
        to {
            color: transparent;
        }

        50% {
            color: inherit;
        }
    }

    .hidden {
        visibility: hidden;
    }

    .ctr {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .line-wrapper {
        line-height: normal;
    }

    .name,
    .title {
        line-height: unset;
        transition: font-size 300ms ease-in-out;
    }

    .name {
        color: #fff;
        font-size: 12vmin;
    }

    .title {
        font-size: 12vmin;
        color: $gray;
    }
}