/* Shared */
@media screen, print {
    html {
        font-family: 'Inter', sans-serif;
    }
        
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    p, span, li {
        line-height: 1.25;
    }

    header h1 {
        font-weight: 800;
    }

    header h4 {
        font-weight: 400;
        margin-top: 5px;
        text-transform: uppercase;
    }

    main {
        flex: 1;
        display: flex;
    }

    .left {
        flex: 1;
    }
    
    .right {
        flex: 1;
    }

    /* Photo, Name, and Title */
    .photo-name-title {
        display: flex;
        align-items: center;
    }
    
    .photo {
        border-radius: 50%;
        margin-right: 40px;
    }
    
    .name {
        margin-bottom: 0px;
    }

    /* Jobs */
    .job-heading.title {
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .job ul {
        padding-inline-start: 30px;
    }

    /* Contact */
    .contact {
        margin-bottom: 2px;
    }

    .contact.title {
        font-weight: 600;
    }

    .contact.title {
        margin-top: 8px;
    }

    /* Links */
    .links {
        display: flex;
        margin-top: 20px;
    }

    .links a:not(:last-child) {
        margin-right: 30px;
    }
    
    a {
        display: flex;
        align-items: center;
    }
    
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: initial;
    }

    /* Icons */
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    /* Skills */
    .skill {
        margin-bottom: 10px;
    }
    
    .skill-bar {
        height: 8px;
        border-radius: 2px;
        margin-top: 5px;
        background: mediumseagreen;
    }
    
    .name-years {
        display: flex;
        justify-content: space-between;
    }
    
    .skill .name {
        font-weight: 600;
    }
    
    /* Certifications */
    #certs {
        margin-bottom: 20px;
    }
    
    .cert div {
        margin-bottom: 4px;
    }
    
    .cert-date {
        display: flex;
        justify-content: space-between;
    }
    
    .cert-name {
        font-weight: 600;
    }
    
    /* Education */
    .education:not(:last-child) {
        margin-bottom: 4px;
    }
    
    .college {
        font-weight: 600;
    }
    
    /* Date */
    .date {
        font-size: .9em;
        font-weight: 500;
        color: darkgray;
        text-transform: uppercase;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    #time {
        margin: 30px 0px;
    }

    footer .link {
        color: gray;
    }

    footer .link:hover,
    footer .link:active,
    footer .link:focus {
        color: gray;
    }

    .mode {
        margin-bottom: 30px;
    }
}

/* Web */
@media screen {
    html {
        background: whitesmoke;
    }
    
    body {
        margin: 0 auto;
        padding: 40px;
        max-width: 1366px;
    }

    header h1 {
        font-size: 2.5em;
    }
}

/* Card */
@media screen and (min-width: 1050px) {
    .left {
        flex: 2;
    }

    header {
        padding: 30px;
        margin: 30px 30px 0px 30px;
    }
    
    section {
        padding: 30px;
        margin: 0px 30px 30px 30px;
    }
}

/* Print */
@media print {
    *:not(h1, h2, h3, h4, h5, h6) {
        font-size: 9.5pt;
    }
    
    @page {
        size: letter;
        margin: .5in;
    }

    body {
        margin: 0;
        padding: 0;
    }

    header {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 32pt;
    }

    .right {
        padding-left: 37px;
        white-space: nowrap;
    }

    /* Jobs */
    .job-heading.title {
        white-space: nowrap;
    }

    /* Footer */
    footer {
        display: none;
    }
}