/* Shared */
@media screen, print {
    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    }
        
    * {
        box-sizing: border-box;
        line-height: 1.5;
    }

    p, span, li {
        line-height: 1.5;
    }

    h2, h3 {
        margin-top: 0px;
    }

    header h1 {
        font-weight: 800;
    }

    header h4 {
        font-weight: 500;
        margin-top: 5px;
        text-transform: uppercase;
        color: gray;
    }

    main {
        flex: 1;
        display: flex;
    }

    .left {
        flex: 1;
    }
    
    .right {
        flex: 1;
    }

    /* Container */
    .container {
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 32px 0px rgb(0 0 0 / 10%);
    }

    /* Photo, Name, and Title */
    .photo-name-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .photo {
        border-radius: 20px;
        margin-right: 40px;
    }
    
    .name {
        margin-bottom: 0px;
    }

    /* Jobs */
    .job:not(:last-child) {
        margin-bottom: 30px;
    }

    .job-heading.title {
        font-weight: 600;
        font-size: 18px;
    }
    
    .job ul {
        padding-inline-start: 30px;
        margin-top: 5px;
    }

    /* Contact */
    .contact {
        margin-bottom: 2px;
    }

    .contact.title {
        font-weight: 600;
    }

    .contact.title {
        margin-top: 8px;
    }

    /* Links */
    .links {
        display: flex;
        margin-top: 20px;
    }

    .links a:not(:last-child) {
        margin-right: 30px;
    }
    
    a {
        display: flex;
        align-items: center;
    }
    
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: initial;
    }

    /* Icons */
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: mediumslateblue;
    }

    /* Skills */
    .skill {
        margin-bottom: 10px;
    }
    
    .skill-bar {
        height: 8px;
        border-radius: 4px;
        margin-top: 5px;
        background: mediumslateblue;
    }
    
    .name-years {
        display: flex;
        justify-content: space-between;
    }
    
    .skill .name {
        font-weight: 600;
    }
    
    /* Certifications */
    .cert div {
        margin-bottom: 4px;
    }
    
    .cert-date {
        display: flex;
        justify-content: space-between;
    }
    
    .cert-name {
        font-weight: 600;
    }
    
    /* Education */
    .education:not(:last-child) {
        margin-bottom: 4px;
    }
    
    .college {
        font-weight: 600;
    }
    
    /* Date */
    .date {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        color: gray;
        text-transform: uppercase;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    #time {
        margin: 30px 0px;
    }

    footer .link {
        color: gray;
    }

    footer .link:hover,
    footer .link:active,
    footer .link:focus {
        color: gray;
    }

    .mode {
        margin-bottom: 30px;
    }
}

/* Web */
@media screen {
    html {
        background: #F8F8FC;
    }
    
    body {
        margin: 0 auto;
        padding: 40px;
        max-width: 1366px;
    }

    header h1 {
        font-size: 2.5em;
    }
}

/* Card */
@media screen and (min-width: 1050px) {
    .left {
        flex: 3;
    }

    header {
        padding: 15px 15px 0px 15px;
    }
    
    section {
        padding: 0px 15px 15px 15px;
    }
}

/* Print */
@media print {
    *:not(h1, h2, h3, h4, h5, h6) {
        font-size: 11px;
    }

    h3 {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }

    p, span, li {
        line-height: 1.3;
    }
    
    @page {
        size: letter;
        margin: .5in;
    }

    body {
        margin: 0;
        padding: 0;
    }

    header {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 28px;
    }

    /* Photo */
    .photo {
        height: 64px;
        width: 64px;
    }

    .left {
        flex: 3;
    }

    .right {
        padding-left: 30px;
        white-space: nowrap;
    }

    .container,
    .job {
        break-inside: avoid;
    }

    /* Jobs */
    .job:not(:last-child) {
        margin-bottom: 10px;
    }

    .job-heading.title {
        white-space: nowrap;
    }

    .job-heading.date {
        font-size: 9px;
    }

    .job ul {
        margin-top: 4px;
    }

    /* Skills */
    .skill:not(:last-child) {
        margin: 6px 0px;
    }

    .skill-bar {
        display: none;
    }

    /* Footer */
    footer {
        display: none;
    }
}