/* Define light/dark values */
:root {
    --accent-color-light: mediumslateblue;
    --accent-color-dark: mediumpurple;
    --body-dark: #2d2d2d;
    --body-light: #F8F8FC;
    --color-light: #1e1e1e;
    --color-dark: #d4d4d4;
    --container-light: white;
    --container-dark: #1e1e1e;
    --container-shadow-light: 6px 6px 0px 0px rgb(0 0 0 / 5%);
    --container-shadow-dark: 6px 6px 0px 0px #252526;
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);    
    --ray-size: calc(var(--size) * -0.4);
    --size: 2rem;
    --transition: background-color 500ms ease-in-out, box-shadow 500ms ease-in-out, color 500ms ease-in-out, opacity 1500ms ease-in-out;
}

/* Shared */
@media screen, print {
    /* Tags */
    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    }
        
    * {
        box-sizing: border-box;
        line-height: 1.5;
    }
    a {
        font-weight: 500;
    }

    p, span, li {
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
    }

    header h1 {
        font-weight: 800;
    }

    header h4 {
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    main {
        flex: 1;
        display: flex;
    }

    /* Utilities */
    .mb-0 {
        margin-bottom: 0px;
    }
    
    .flex {
        display: flex;
    }

    .align-center {
        align-items: center;
    }

    .justify-between {
        justify-content: space-between;
    }

    /* Specific Classes */
    .left {
        flex: 4;
    }
    
    .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container {
        margin: 15px;
        padding: 60px;
        border-radius: 30px;
    }

    .bold {
        font-weight: 500;
    }
    
    /* Profile */
    .name {
        margin: 0px;
    }


    /* Jobs */
    .job:not(:last-child) {
        margin-bottom: 45px;
    }

    .job-heading.title {
        font-weight: 600;
        font-size: 18px;
    }

    .job-heading.date {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
    }
    
    .job ul {
        padding-inline-start: 30px;
        padding-left: 20px;
    }

    .job ul li:not(:last-child) {
        padding-bottom: 4px;
    }

    /* Contact */
    .contact:not(:last-child) {
        margin-bottom: 2px;
    }

    .contact.title {
        font-weight: 600;
    }

    .contact.title {
        margin-top: 8px;
    }

    /* Links */
    .links {
        display: flex;
    }

    .links a:not(:last-child) {
        margin-right: 20px;
    }
    
    .links a {
        display: flex;
        align-items: center;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

    /* Icons */
    .icon {
        width: 30px;
        height: 30px;
    }

    /* Skills */
    .skill {
        margin-bottom: 10px;
    }
    
    .skill-bar {
        height: 8px;
        border-radius: 4px;
        margin-top: 5px;
    }
    
    .name-years {
        display: flex;
        justify-content: space-between;
    }
    
    .skill .name {
        font-weight: 600;
    }
    
    /* Certifications */
    .cert div {
        margin-bottom: 4px;
    }
    
    .cert-date {
        display: flex;
        justify-content: space-between;
    }
    
    .cert-name {
        font-weight: 600;
    }

    .cert-badge {
        width: 72px; 
        height: 72px;
        border-radius: 20px;
    }
    
    /* Education */
    .education:not(:last-child) {
        margin-bottom: 2px;
    }

    .education.college:not(:first-child) {
        margin-top: 8px;
    }
    
    .college {
        font-weight: 600;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .mode {
        margin: 30px 0px;
    }
}

/* Web */
@media screen {
    @media (max-width: 1200px) {
        body {
            max-width: 1024px !important;
            padding: 25px !important;
            margin: 0 auto !important;
        }
    
        main {
            display: block;
        }
    
        header,
        .left,
        .right {
            padding: 0px;
        }

        header .container {
            margin-bottom: 30px;
        }
    
        /* Mimic h2 */
        h3 {
            font-size: 1.5em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
    }

    @media (max-width: 750px) {
        #profile {
            flex-direction: column;
            align-items: flex-start;
        }

        header h4 {
            margin-top: 5px;
            margin-bottom: 25px;
        }

        header .links {
            margin: 0px;
        }
    }

    @media (max-width: 575px) {
        header h1 {
            font-size: 34px !important;
        }

        h2 {
            margin-bottom: 15px;
        }

        footer {
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 375px) {
        body {
            padding: 0px !important;
        }

        .container {
            padding: 30px !important;
        }
    }

    @media (prefers-color-scheme: light) {
        html {
            background-color: var(--body-light);
            color: var(--color-light);
        }

        :-webkit-scrollbar-thumb {
            background-color: var(--accent-color-light);
        }

        * {
            color: var(--color-light);
        }

        a,
        a:active,
        a:focus,
        a:hover {
            color: var(--accent-color-light);
        }

        .container {
            background-color: var(--container-light);
            box-shadow: var(--container-shadow-light);
        }

        .icon {
            fill: var(--accent-color-light);
        }

        .skill-bar {
            background-color: var(--accent-color-light);
        }

        .toggle {
            color: var(--accent-color-light);
            transform: scale(1);
            box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
        }
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: var(--body-dark);
            color: var(--color-dark);
        }

        :-webkit-scrollbar-thumb {
            background-color: var(--accent-color-dark);
        }

        * {
            color: var(--color-dark)
        }

        a,
        a:active,
        a:focus,
        a:hover {
            color: var(--accent-color-dark);
        }

        .container {
            background-color: var(--container-dark);
            box-shadow: var(--container-shadow-dark);
        }
        
        .icon {
            fill: var(--accent-color-dark)
        }

        .skill-bar {
            background-color: var(--accent-color-dark);
        }

        .toggle {
            transform: scale(0.75);
            color: var(--accent-color-dark);;
            box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
        }
    }

    /* Light */
    html[data-theme="light"] {
        background-color: var(--body-light);
        color: var(--color-light);
    }

    html[data-theme="light"] ::-webkit-scrollbar-thumb {
        background-color: var(--accent-color-light);
    }

    html[data-theme="light"] * {
        color: var(--color-light);
    }

    html[data-theme="light"] a,
    html[data-theme="light"] a:active,
    html[data-theme="light"] a:focus,
    html[data-theme="light"] a:hover {
        color: var(--accent-color-light);
    }

    html[data-theme="light"] .container {
        background-color: var(--container-light);
        box-shadow: var(--container-shadow-light);
    }

    html[data-theme="light"] .icon {
        fill: var(--accent-color-light)
    }

    html[data-theme="light"] .skill-bar {
        background-color: var(--accent-color-light);
    }

    html[data-theme="light"] .toggle { /* Moon */
        transform: scale(1);
        color: var(--accent-color-light);
        box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    }

    /* Dark */
    html[data-theme="dark"] {
        background-color: var(--body-dark);
        color: var(--color-dark);
    }

    html[data-theme="dark"] ::-webkit-scrollbar-thumb {
        background-color: var(--accent-color-dark);
    }

    html[data-theme="dark"] * {
        color: var(--color-dark);
    }

    html[data-theme="dark"] a,
    html[data-theme="dark"] a:active,
    html[data-theme="dark"] a:focus,
    html[data-theme="dark"] a:hover {
        color: var(--accent-color-dark);
    }

    html[data-theme="dark"] .container {
        background-color: var(--container-dark);
        box-shadow: var(--container-shadow-dark);
    }

    html[data-theme="dark"] .icon {
        fill: var(--accent-color-dark)
    }

    html[data-theme="dark"] .skill-bar {
        background-color: var(--accent-color-dark);
    }

    html[data-theme="dark"] .toggle { /* Sun */
        transform: scale(0.75);
        color: var(--accent-color-dark);;
        box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
    }

    /* Shared */
    *:not(.toggle):not(a) {
        transition: var(--transition);
    }

    body {
        margin: 0 auto;
        padding: 45px;
        max-width: 1366px;
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    ::-webkit-scrollbar-track {
        background: inherit;
    }
    
    ::-webkit-scrollbar-thumb {
        width: 8px;
        height: 8px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-clip: content-box;
    }

    header h1 {
        font-size: 2.5em;
    }

    .toggle {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        cursor: pointer;
        width: var(--size);
        height: var(--size);
        box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
        border-radius: 999px;
        color: var(--color-dark);
        transition: all 200ms;
        z-index: 1;
    }

    /* Animate load */
    body {
        opacity: 0;
        overflow-x: hidden;
    }

    .slide-down {
        animation: slide-down 800ms ease;
    }

    .slide-up {
        animation: slide-up 800ms ease;
    }

    .slide-in-right {
        animation: slide-in-right 800ms ease;
    }

    .slide-in-left {
        animation: slide-in-left 800ms ease;
    }

    @keyframes slide-down {
        from {
            transform: translateY(-200px) scale(1.2);
        }

        to {
            transform: translateY(0px) scale(1);
        }
    }

    @keyframes slide-up {
        from {
            transform: translateY(400px) scale(1.2);
        }

        to {
            transform: translateY(0px) scale(1);
        }
    }

    @keyframes slide-in-right {
        from {
            transform: translateX(-200px) scale(.9);
        }

        to {
            transform: translateX(0px) scale(1);
        }
    }
    @keyframes slide-in-left {
        from {
            transform: translateX(200px) scale(.9);
        }

        to {
            transform: translateX(0px) scale(1);
        }
    }
}

/* Print */
@media print {
    *:not(h1, h2, h3, h4, h5, h6) {
        font-size: 11.5px;
    }

    *,
    a,
    a:active,
    a:focus,
    a:hover {
        color: black;
    }

    h2 {
        font-size: 16px;
    }

    p, span, li {
        line-height: 1.3;
    }
    
    @page {
        size: letter;
        margin: .5in;
    }

    body {
        margin: 0;
        padding: 0;
    }

    header {
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 28px;
    }

    .container {
        box-shadow: none;
        margin: 0px;
        padding: 0px;
    }

    .left {
        flex: 4;
    }

    .right {
        flex: 2;
        padding-left: 30px;
        white-space: nowrap;
        justify-content: flex-start;
    }

    .right .container {
        margin-bottom: 30px;
    }

    /* Jobs */
    .job:not(:last-child) {
        margin-bottom: 17.5px;
    }

    .job-heading.title {
        white-space: nowrap;
        font-size: 12px;
    }

    .job-heading.date {
        font-size: 9px;
        text-transform: uppercase;
    }

    .job ul {
        margin-top: 4px;
    }

    /* Skills */
    .skill:not(:last-child) {
        margin: 6px 0px;
    }

    .skill-bar {
        display: none;
    }

    /* Contacts */
    .contact a {
        font-weight: 400;
    }

    /* Icons */
    .icon {
        fill: black;
    }

    /* Footer */
    footer {
        display: none;
    }
}