@import '../../styles/utilities.module.scss';

$line-height: 18px;
$gray: #808080;
$dark-pink: #da70d6;
$dark-blue: #569cd6;
$blue: #9cdcfe;
$yellow: #d7ba7d;
$orange: #ce9178;
$gold: #ffd700;
$lime: #4ec9b0;
$light-blue: #4fc1ff;
$color: var(--color);

.main {
    display: flex;
    gap: 4ch;
    opacity: 0;

    &.loading {
        opacity: 0;
    }

    &.link-background {
        animation: fade-in 450ms ease-in-out 0ms forwards;

        .link-ctr {

            .link-text {
                border-bottom-color: #4ec9b0;

                &::before {
                    background-color: #4ec9b020;
                }
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    * {
        font-size: 12px;
        line-height: $line-height;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: $line-height;
        // Length of longest line "Armstrong Atlantic State University"
        max-width: 35ch;
    }

    .comment {
        color: #6a9955;
    }

    .job {
        break-inside: avoid;

        &:not(:last-child) {
            margin-bottom: $line-height;
        }

        .title {
            color: #569cd6;

            .company {
                color: #dcdcaa
            }
        }

        .lines {
            display: flex;
            flex-direction: column;

            .line {
                display: flex;
                color: #ce9178;
            }
        }
    }

    #skills {

        .groups-ctr {
            display: flex;
            flex-direction: column;
            gap: $line-height;

            .group {
                .name {
                    color: #569cd6;
                }

                .items-ctr {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1ch;

                    .item {
                        display: inline-block;
                        border-radius: 4px;
                        color: #9cdcfe;
                        // Badge style: OFF
                        // padding: 0px 1ch;
                        // background-color: #9cdcfe25;
                    }
                }
            }
        }

    }

    #education {
        .college {
            color: #569cd6;
        }

        .major {
            .date {
                color: #9cdcfe;
                ;
            }
        }
    }

    #contact {
        .info {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            gap: $line-height;
            margin-top: $line-height;

            a {

                &,
                &:hover {
                    color: #4ec9b0;
                }
            }

        }
    }

    .date {
        color: #9cdcfe;

        .location {
            color: var(--color);
        }
    }

    .link-ctr {
        height: $line-height;

        a {
            display: flex;
        }

        .emoji {
            font-size: $line-height;
            margin-right: 1ch;
        }

        .link-text {
            position: relative;
            border-bottom: solid 1px;
            border-bottom-color: transparent;
            transition: border-bottom-color 450ms ease-in-out;

            &:hover {
                &::before {
                    top: 0px;
                    left: 0px;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: 3px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition:
                    background-color 450ms ease-in-out,
                    top 250ms ease-in-out,
                    left 250ms ease-in-out;
            }
        }
    }

    @media screen {
        display: flex;
        flex-direction: row-reverse;

        // NOTE: 
        // If the viewport is less than 912px wide, the combined left and right 
        // padding and margin will be less than 96px, or 1 inch on either side.
        // So we will set the `flex-direction` to `column`. We also unset the
        // `max-width` property on the right container because it can now span
        // the full width of the page.  
        //
        // There is a corresponding media query in `styles/resume.module.scss that 
        // removes the 8.5in width on the page and horizontally centers main. 
        // The main container may now be less than 720px so the page  `width` is
        // set to `fit-content`.
        @media (max-width: 911px) {
            flex-direction: column;
            gap: $line-height;

            .right {
                max-width: unset;
            }
        }
    }
}