@import '../../styles/utilities.module.scss';
@import '../../styles/dark.theme.module.scss';

.main {
    display: flex;
    justify-content: space-between;
    gap: 4ch;
    opacity: 0;

    &.loading {
        opacity: 0;
    }

    &.link-background {
        animation: fade-in 450ms ease-in-out 0ms forwards;

        .link-ctr {

            .link-text {
                border-bottom-color: $link;

                &::before {
                    background-color: $link-20;
                }
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    * {
        font-size: $font-size;
        line-height: $line-height;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: calc($line-height * 2);
        max-width: 34ch;
    }

    .ctr:not(:only-child) {
        margin-bottom: $line-height;
    }

    .comment {
        color: $comment;
        margin-bottom: $line-height;
    }

    .job {
        break-inside: avoid;

        &:not(:last-child) {
            margin-bottom: $line-height;
        }

        .title {
            color: $heading;

            .company {
                color: $company;
            }
        }

        .lines {
            display: flex;
            flex-direction: column;

            .line {
                display: flex;
                color: $text;
            }
        }
    }

    #skills {

        .groups-ctr {
            display: flex;
            flex-direction: column;
            gap: $line-height;

            .group {
                .name {
                    color: $heading;
                }

                .items-ctr {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0ch 1ch;

                    .item {
                        display: inline-block;
                        border-radius: 4px;
                        color: $skill;
                    }
                }
            }
        }

    }

    #contact {
        .info {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            gap: $line-height;
        }
    }

    #projects {
        .project-ctr {
            display: flex;
            flex-direction: column;
            gap: $line-height;

            &:not(:last-child) {
                margin-bottom: $line-height;
            }
        }
    }

    .date {
        color: $date;

        .location {
            // color: var(--color);
            color: $muted;
        }
    }

    .emoji {
        font-size: $line-height;
        margin-right: 1ch;
    }


    .link-ctr {
        height: $line-height;

        a {
            display: flex;

            &,
            &:hover {
                color: $link;
            }
        }

        .link-text {
            position: relative;
            border-bottom: solid 1px;
            border-bottom-color: transparent;
            transition: border-bottom-color 450ms ease-in-out;

            &:hover {
                &::before {
                    top: 0px;
                    left: 0px;
                }
            }

            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                top: 6px;
                left: 3px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition:
                    background-color 450ms ease-in-out,
                    top 250ms ease-in-out,
                    left 250ms ease-in-out;
            }
        }
    }

    @media screen {
        flex-direction: row-reverse;

        // NOTE: 
        // If the viewport is less than 912px wide, the combined left and right 
        // padding and margin will be less than 96px (1 inch) on either side.
        // So, we'll set `flex-direction` to `column` and `max-width` to unset
        // because it can now span the full width of the page.  
        //
        // There is a corresponding media query in `styles/resume.module.scss` that 
        // replaces the 8.5in width with `fit-content` and add `align-items: center`
        // which horizontally centers main. 
        // 
        // The main container may now be less than 720px so the page  `width` is
        // set to `fit-content`.
        @media (max-width: 911px) {
            flex-direction: column;
            gap: calc($line-height * 2);

            .right {
                max-width: unset;
            }
        }
    }
}