@use '../../styles/utilities.module.scss' as utilities;
@use '../../styles/dark.theme.module.scss' as theme;

.heading {
    display: flex;
    align-items: center;
    margin: 0px;

    &,
    * {
        font-size: utilities.$font-size;
        line-height: utilities.$line-height;
    }

    button {
        cursor: pointer;
        font-size: utilities.$font-size;
        font-family: var(--mono);
        color: theme.$link;
        border-bottom: solid 1px;
        border-bottom-color: transparent;
        position: absolute;
        translate: -8ch;
        padding: 0px;
        transition: border-bottom-color 450ms ease-in-out;
        // animation: fade-border 450ms ease-in-out forwards;

        // &:hover {
        //     &::before {
        //         top: 0px;
        //         left: 0px;
        //     }
        // }

        // &::before {
        //     content: '';
        //     pointer-events: none;
        //     position: absolute;
        //     top: 6px;
        //     left: 3px;
        //     width: 100%;
        //     height: 100%;
        //     background-color: transparent;
        //     transition: background-color 450ms ease-in-out, top 250ms ease-in-out, left 250ms ease-in-out;
        //     animation: fade-background 450ms ease-in-out forwards;
        // }

        &,
        &:focus,
        &.active {
            outline: none;
            border-left: none;
            border-right: none;
            border-top: none;
            background-color: transparent;
        }

        @keyframes fade-border {
            100% {
                border-bottom-color: theme.$link;
            }
        }

        @keyframes fade-background {
            100% {
                background-color: theme.$link-20;
            }
        }
    }

    span {
        user-select: none;
    }
}
