.type {
    .suffix {
        // color: red !important;
        color: transparent !important;
    }
}

// Animations
@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: inherit;
    }
}