@use '../../styles/utilities.module.scss' as utilities;
@use '../../styles/dark.theme.module.scss' as theme;

.comment {
    color: theme.$comment;
    margin-bottom: utilities.$line-height;
}

.projects {
    .project-ctr {
        display: flex;
        flex-direction: column;
        gap: utilities.$line-height;

        &:not(:last-child) {
            margin-bottom: utilities.$line-height;
        }
    }
}
