$skill: #9cdcfe;
$skill-10: #9cdcfe10;
$skill-20: #9cdcfe20;
$heading: #569cd6;
$title: #696969;
$muted: #808080;
$comment: #6a9955;
$date: #b5cea8;
$link: #4ec9b0;
$link-20: #4ec9b020;
$text: #ce9178;
$name: #c586c0;
$name-20: #c586c020;
$company: #dcdcaa;

// DEV: Simplify colors

// $skill: var(--color);
// $text: var(--color);
// $company: var(--color);
// $date: var(--color);