:root {
    --background-color: #1e1e1e;
    --color: #d4d4d4;
    --line-height: 18px;
    --font-size: 12px;
}

* {
    box-sizing: border-box;
}

html {
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color);
    color: var(--color);
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE 10+
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow: overlay;

    &.hidden {
        overflow: hidden;
    }
}