:root {
    --background-color: #000000;
    --color: #d4d4d4;
}

* {
    box-sizing: border-box;
}

html {
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color);
    color: var(--color);
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE 10+
    -webkit-text-size-adjust: 100%;

    // Blink (Chrome) & WebKit (Safari)
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}