:root {
    --color: #1e1e1e;
    --background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    color: var(--color);
    background: var(--background-color);
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: whitesmoke;
        --background-color: #1e1e1e;
    }

    html {
        color-scheme: dark;
    }
}

@media print {
    html {
        background-color: lightgray;
        padding: 60px 0px;
        display: flex;
        justify-content: center;
    }

    body {
        padding: .75in;
        border-radius: 8px;
        width: 8.5in;
        height: 11in;
        background-color: white;
    }
}