#resume {
    width: 8.5in;
    padding: 0in 0.5in;

    &.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;

        header {
            .profile {
                // animation: scale 1000ms ease-in-out 1500ms forwards;

                // position: absolute;
                // top: 0px;
                // left: 0px;

                .name {
                    display: inline-block;
                    font-size: 64px;
                    line-height: 1;
                    margin-bottom: 16px;
                }

                .title {
                    font-size: 32px;
                    line-height: 1;
                }
            }
        }
    }
}

@keyframes scale {
    from {
        scale: 2;
    }

    to {
        scale: 1;
    }
}