#resume {
    // DEV: May remove this
    width: 8.5in;
    padding: 0in .5in;

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        // background-color: #ff22ff15;

        .ctr {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .name,
        .title {
            display: inline-block;
        }

        .name {
            font-size: 64px;
            line-height: 1;
            margin-bottom: 16px;
        }

        .title {
            font-size: 32px;
            line-height: 1;
            color: dodgerblue;
        }
    }
}