#resume {
    &.loading {
        width: 8.5in;

        .line-wrapper {
            line-height: 1 !important;
        }
    }

    @media screen and (min-width: 1010px) {
        &.loading {
            width: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        &.loading {
            width: 100%;
            padding: 0px;
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding: 0in .5in;

        .ctr {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .name,
        .title {
            display: inline-block;
            line-height: 1; // animate from 1 (dynamic) to 14px;
        }

        .name {
            font-size: 64px;
            margin-bottom: 16px;
        }

        .title {
            font-size: 32px;
            color: dodgerblue;
        }

        @media screen and (max-width: 679px) {
            .name {
                font-size: 40px;
                margin-bottom: 10px;
            }

            .title {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 414px) {
            .name {
                font-size: 30px;
                margin-bottom: 7.5px;
            }

            .title {
                font-size: 15px;
            }
        }
    }
}