#resume {
    &.loading {
        .line-wrapper {
            line-height: 1 !important;
        }
    }

    @media screen and (min-width: 1010px) {
        &.loading {
            width: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        &.loading {
            width: 100%;
            padding: 0px;
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // NOTE: In Safari on mobile, 100vh is too tall (clips behind bottom tool bar I think?)
        height: 100%;
        width: 100vw;
        padding: 0in .5in;

        .ctr {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
        }

        .name,
        .title {
            // NOTE:  Will animate from 1 (dynamic) to 14px;
            line-height: 1;
        }

        .name {
            font-size: 64px;
            margin-bottom: 16px;
        }

        .title {
            font-size: 32px;
            color: dodgerblue;
        }

        // Narrow desktop + tablet
        @media screen and (max-width: 679px) {
            .ctr {
                gap: 10px;
            }

            .name {
                font-size: 40px;
            }

            .title {
                font-size: 20px;
            }
        }

        // Narrow desktop + tablet
        @media screen and (max-width: 430px) {
            .ctr {
                gap: 9px;
            }

            .name {
                font-size: 36px;
            }

            .title {
                font-size: 18px;
            }
        }


        // iPhone 14
        @media screen and (max-width: 414px) {
            .ctr {
                gap: 7.5px;
            }

            .name {
                font-size: 30px;
            }

            .title {
                font-size: 15px;
            }
        }
    }
}