#resume {
    &.loading {
        width: 8.5in;
        padding: 0in .5in;
    }

    @media screen and (min-width: 1010px) {
        &.loading {
            width: 10.5in;
        }
    }

    @media screen and (max-width: 800px) {
        &.loading {
            width: 100%;
            padding: 0px;
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding: 0in .5in;
        // background-color: #ff22ff15;

        .ctr {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .name,
        .title {
            display: inline-block;
        }

        .name {
            font-size: 64px;
            line-height: 1;
            margin-bottom: 16px;
            // color: #c586c0;
        }

        .title {
            font-size: 32px;
            line-height: 1;
            color: dodgerblue;
            // color: #ce9178;
        }

        @media screen and (max-width: 679px) {
            .name {
                font-size: 40px;
                margin-bottom: 10px;
            }

            .title {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 414px) {
            .name {
                font-size: 32px;
                margin-bottom: 8.75px;
            }

            .title {
                font-size: 17.5px;
            }
        }
    }

    main {
        &.loading {
            visibility: hidden;
        }
    }
}