#resume {

    /* Print */
    @media print {
        @page {
            size: letter;
        }

        * {
            &:not(h1, h2, h3, h4, h5, h6) {
                font-size: 12px;
            }
        }

        a {

            &,
            &:hover {
                color: #d4d4d4;
                text-decoration: none;
            }
        }

        header {
            h1 {
                font-size: 34px;
                font-weight: 600;
                margin-top: 0px;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-top: 0px;
                margin-bottom: 10px;
            }

            .links {
                display: flex;
                justify-content: space-between;
            }
        }

        main {
            display: flex;
            gap: 30px;
        }

        // Classes
        .job {
            break-inside: avoid;

            &:not(:last-child) {
                margin-bottom: 17.5px;
            }

            .date {
                font-size: 10.5px;
            }

            .lines {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .line {
                    display: flex;


                    svg {
                        transform: translateY(.75px);
                        margin-right: 3px;
                        width: 11px;
                        height: 11px;
                    }
                }
            }
        }

        .skill {
            display: flex;
            justify-content: space-between;
        }
    }
}