#resume {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 8.5in;
    padding: .5in;
    display: flex;
    flex-direction: column;
    gap: 36px;

    a {

        &,
        &:hover {
            text-decoration: none;
        }
    }

    @media screen {
        & {
            margin: 0 auto;
            padding-top: .75in;
            padding-bottom: .75in;
        }

        @media (max-width: 816px) {
            width: 100%;
        }
    }
}