#resume {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 8.5in;
    padding: .5in;
    display: flex;
    flex-direction: column;
    gap: 54px;
    transition: padding 500ms ease-in-out;

    @media print {
        gap: 36px;
    }

    a {

        &,
        &:hover {
            text-decoration: none;
        }
    }

    @media screen {
        margin: 0 auto;
        padding-top: .75in;
        padding-bottom: .75in;

        // NOTE: 
        // If the viewport is less than 912px wide, the combined left and right 
        // padding and margin will be less than 96px, or 1 inch on either side.
        // So, once the viewport is 911px or less wide, remove the 8.5in width
        // and horizontally center flex children. 
        //
        // There is a corresponding media
        // query in `components/main/main.module.scss` that will set the
        // `flex-direction` to `column`. The main container may now be less than 720px
        // or 8.5in wide so we also set the `width` to `fit-content`.
        @media (max-width: 911px) {
            width: fit-content;
            align-items: center;
            max-width: 680px;
        }

        @media (max-width: 500px) {
            padding-left: .25in;
            padding-right: .25in;
        }
    }
}