#resume {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 8.5in;
    padding: .5in;
    display: flex;
    flex-direction: column;
    gap: 36px;
    transition: padding 500ms ease-in-out;

    a {

        &,
        &:hover {
            text-decoration: none;
        }
    }

    @media screen {
        & {
            margin: 0 auto;
            padding-top: .75in;
            padding-bottom: .75in;
        }

        @media (max-width: 980px) {
            padding-right: 8ch;
            padding-left: 8ch
        }

        @media (max-width: 815px) {
            width: 100%;
        }

        @media (max-width: 675px) {
            gap: 18px;
            padding: 54px 4ch;
        }
    }
}