@use './styles/utilities.module.scss' as utilities;
@use './dark.theme.module.scss' as theme;

#words {
    --mono: Menlo, Monaco, Consolas, 'Courier New', monospace;

    font-family: var(--mono);
    width: 8.5in;
    height: 100svh;
    padding: 0.5in;
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    // * {
    //     font-size: utilities.$font-size;
    //     line-height: utilities.$line-height;
    // }

    a {
        &,
        &:hover {
            text-decoration: none;
        }
    }

    .cell {
        user-select: none;
        cursor: default;
        font-size: max(3vmin, 16px);
        display: grid;
        place-items: center;
        color: theme.$light;

        &.link {
            cursor: pointer;
            color: theme.$link;
        }
    }

    @media screen {
        margin: 0 auto;

        // NOTE:
        // If the viewport is less than 912px wide, the combined left and right
        // padding and margin will be less than 96px, or 1 inch on either side.
        // So, once the viewport is 911px or less wide, remove the 8.5in width
        // and horizontally center flex children.
        //
        // There is a corresponding media
        // query in `components/main/main.module.scss` that will set the
        // `flex-direction` to `column`. The main container may now be less than 720px
        // or 8.5in wide so we also set the `width` to `fit-content`.
        @media (max-width: 911px) {
            width: 100%;
            align-items: center;
            max-width: 680px;
        }

        @media (max-width: 500px) {
            padding: 0.25in;
        }
    }
}
