.type-wrapper {
    position: relative;

    .type {
        &:not(.set) {
            position: absolute;
        }

        &:blink::after {
            content: "█";
            animation: 1s blink step-end infinite;
        }
    }

    .hidden {
        visibility: hidden;
    }
}

// Animations
@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: inherit;
    }
}