.type {
    .suffix {
        color: transparent !important;
        // border-bottom: solid 1px var(--background-color) !important;
        border-bottom: solid 1px inherit !important;
    }
}

// Animations
@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: inherit;
    }
}